<h1>Messages view</h1>

<div>
	<%= form_for Message.new do |f| %>
		<%= f.label :body %>
		<%= f.text_field :body %>
		<%= f.submit %>
	<% end %>
</div>

<form id="js-socket">
  <label>
    <input type="text" placeholder="Type something..." />
    WebSocket Style
  </label>
</form>

<div class="messages">
  <%= render @messages %>
</div>